^.*
PharmacoGx.Rproj
.Rproj.user
.Rhistory
.RData
*/.DS_store
*/figure
doc
Meta
*/*.so
^PSets/*
scripts/*
scripts
Psets/*
check/*
PSets/**
.*
*.html

# exceptions
!.gitignore
local_data/**
.VSCodeCounter/**
*.o
