^.*
PharmacoGx.Rproj
.Rproj.user
.Rhistory
.RData
*/.DS_store
*/figure
doc
Meta
*/*.so
^PSets/*
scripts/*
scripts
Psets/*
check/*
PSets/**
.*
*.html

# exceptions
!.github
!.gitignore
local_data/**
.VSCodeCounter/**
*.o
docs

# build artifacts
man/
*.tar.gz
*.Rcheck/
*.BiocCheck/
